{% extends 'base.html' %}

{% block title %}
<title>Pay</title>
{% endblock %}

{% block body %}
<h1>Pay</h1>


<form name="Pay" method="post" action="https://pay.piastrix.com/ru/pay" accept-charset="UTF-8">
  <input type="hidden" name="amount" value="{{ amount }}"/>
  <input type="text" name="currency" value="{{ currency }}"/>
  <input type="text" name="shop_id" value="{{ shop_id }}"/>
  <input type="text" name="sign" value="{{ sign }}"/>
  <input type="text" name="shop_order_id" value="{{ shop_order_id }}"/>

<input type="submit"/> <input type="text" name="description" value="Test invoice"/> </form>
{% endblock %}

